* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #fff8e1;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title {
  display: flex;
  background-color: #fdd835;
  width: 100vw;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  font-weight: bold;
}

#tonic {
  display: flex;
  flex-direction: column;
  background-color: #fff8e1;
  width: 100vw;
  height: 67vh;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
}

#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #fdd835;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#addButton:hover {
  background-color: #fbc02d;
}

#bottombutton {
  width: 100vw;
  height: 13vh;
  display: flex;
  background-color: #fdd835;
}

#bottombutton > div {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border-right: 1px solid #c6a700;
}

#bottombutton > div:last-child {
  border-right: none;
}

#bottombutton a {
  text-decoration: none;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  max-height: 60vh; /* 세로 길이 제한 */
  overflow-y: auto; /* 세로 스크롤 추가 */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close, .closeInputModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover, .close:focus, .closeInputModal:hover, .closeInputModal:focus {
  color: black;
}

#searchInput {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.vitamin-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.vitamin-item {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  width: calc(33.333% - 20px);
  height: 100px;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.vitamin-item:hover {
  background-color: #e0e0e0;
}

#vitaminDetails {
  margin-bottom: 15px;
}

#vitaminDetails p {
  margin: 5px 0;
}

#unitLabel, #unitSelect {
  display: none;
}

.tonic-item {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.tonic-title {
  font-size: 20px;
  font-weight: bold;
}

.tonic-info {
  font-size: 14px;
}

.tonic-bar {
  position: relative;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  margin-top: 5px;
}

.tonic-bar-inner {
  height: 100%;
  background-color: #ffc107;
  border-radius: 10px;
}

.close-tonic {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #aaa;
  background: transparent;
  border: none;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-tonic:hover, .close-tonic:focus {
  color: black;
  text-decoration: none;
}
